*{
    padding: 0px;
    margin: auto;
}
body{
    width: 1080px;
    height: 750px;
    border: 1px solid black;
    margin-top: 10px;
}
header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}
.title{
    width: 650px;
    height: 100px;
    background-color: black;
    float: left;
}
.title h1{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    color: white;
    animation: neon 1s ease-in-out infinite alternate;
}
@keyframes neon{
    from{
        text-shadow: 0 0 5px pink, 0 0 30px white, 0 0 15px rgb(212, 15, 212), 0 0 20px violet;
    }
    to{
        text-shadow: 0 0 20px pink, 0 0 50px white, 0 0 20px rgb(177, 30, 177), 0 0 25px violet;
    }
}
.login{
    width: 429px;
    height: 100px;
    background-color: blue;
    float: left;
}
fieldset{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#txtpw{
    margin-left: 7px;
}
nav{
    height: 50px;
    width: 100%;
    background-image: url(../img/download\ \(2\).jfif);
}
nav ul{
    width: 650px;
    float: left;
    position: absolute;
}
nav>ul>li{
    list-style: none;
    float: left;
    width: 130px;
    line-height: 50px;
    text-align: center;
}
nav>ul>li:hover{
    background-color: green;
    transition: ease-in-out 0.4s;
}
nav>ul>li>a:hover{
    color: aliceblue;
}
nav>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    color: yellow;
}
.submenu{
    display: none;
    position: absolute;
    width: 130px;
}
.submenu>li{
    line-height: 50px;
    list-style: none;
    background-color: aquamarine;
    display: block;
}
.submenu>li>a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: red;
}
.submenu>li:hover{
    background-color: green;
}
.submenu>li>a:hover{
    color: aliceblue;
}
nav>ul>li:hover .submenu{
    display: block;
    transition: ease-in-out 0.3s;
}
section{
    height: 500px;
    width: 100%;
    background-color: brown;
}
aside{
    width: 400px;
    height: 500px;
    background-color: blue;
    float: left;
    background-image: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-size: 800px,400px;
}
article{
    width: 350px;
    height: 250px;
}
article>img{
    width: 80%;
    height: 80%;
}
.sec{
    width: 679px;
    height: 500px;
    background-image: url(../img/images.jfif);
    background-repeat: no-repeat;
    background-size: 779px,600px;
    float: left; 
}
footer{
    height: 100px;
    width: 100%;
    background-image: repeating-radial-gradient(yellow,blue);
}
footer>fieldset{
    margin: 0px;
    width: 200px;
    margin-left: 20px;
}